---

---
<footer class="lg:w-[1024px] bg-blueViolet mx-auto m-4 dark:bg-synthwaveNachtBlau">
    <div class="w-full mx-auto max-w-screen-xl text-center">
        <span class="text-sm text-greenMint font-menlo sm:text-center dark:text-greenMint">© <span id="copyright"></span> <a href="https://normalguy.de/" class="hover:underline">normalguy.de</a> | All Rights Reserved.
        </span>
    </div>
</footer>


<script>
    document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>