---
import { capitalize } from '../utils';

const { tags } = Astro.props;

interface Props {
    tags: string[];
}
---

<span class="flex flex-wrap gap-2">
    {tags.map((tag: string, index: number) => (
            <span
                    class={`px-2 py-1 rounded-full text-xs ${
                        index % 2 === 0 ? 'bg-green-500 text-white' : 'bg-indigo-500 text-white'
                    }`}
            >
            #{capitalize(tag)}
        </span>
    ))}
</span>
