<div id="typed-strings">
	<p>i <strong><span class="text-deepPink">teach classes</span></strong> to give <strong><span class="text-greenMint">something back</span></strong> to the <strong><span class="text-blueViolet">coding community</span></strong></p>
	<p>i work with <strong><span class="text-deepPink">Magento</span>, <span class="text-blueViolet">Hyvä</span>, Shopware,</strong> and <strong><span class="text-greenMint">Shopify</span></strong></p>
	<p>i create <strong>Fullstack <span class="text-deepPink">Apps</span></strong> with modern Web technologies like <strong><span class="text-greenMint">Deno 2</span>, <span class="text-blueViolet">React</span>, Vue.js</strong></p>
	<p>i am a <strong>frontend <span class="text-deepPink">developer</span></strong></p>
	<p>i made my <strong>hobby to my <span class="text-deepPink">profession</span></strong></p>
</div>
<div class="">
	<span class="" id="typed"></span>
</div>

<script>
	import Typed from "typed.js";

	var typed = new Typed('#typed', {
    stringsElement: '#typed-strings',
	typeSpeed: 50,
	backSpeed: 30,
	loop: true,
  	loopCount: Infinity,
	showCursor: true,
  });
  </script>