---
import MainHead from "./MainHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title, seoTitle, seoDesc } = Astro.props;
---

<html>
	<MainHead
	title={title} 
	seoTitle={seoTitle}
	seoDesc={seoDesc}
	/>
	<body class="flex flex-col bg-synthwaveNachtBlau text-white">
		<Header />
		<main>
			<slot />
		</main>
		<style>
			body {
				font-family: "Raleway", sans-serif;
				min-height: 100vh;
			}
		</style>
		<Footer />
	</body>
</html>